@use "abstracts" as *;

.hero {
  padding: $padding-main;

  &__logo {
    display: block;
    margin: 0 auto;
  }

  &__title {
    font-size: 7rem;
    font-weight: 700;
    text-align: center;
    // color: #be89bd;
    // color: $fresh-teal;
    color: #672a79;
    // color: #1f1f23;
    // color: #01385e;
  }

  &__text {
    color: #1f1f23;
    font-size: 1.5rem;
    font-weight: 300;
  }

  &__images {
    display: flex;
    justify-content: center;
    padding: 8rem $padding-main 8rem $padding-main;

    img {
      width: 400px;

      box-shadow: 0px 10px 20px -5px rgba(103, 42, 121, 0.5);

      &:nth-child(1) {
        // width: 150px;
        left: 20px;
        top: 10px;
        rotate: -15deg;
      }
      &:nth-child(2) {
        // width: 180px;
        left: 150px;
        top: 60px;
        rotate: 5deg;
      }
      &:nth-child(3) {
        // width: 200px;
        left: 280px;
        top: 20px;
        rotate: 20deg;
      }
      &:nth-child(4) {
        // width: 160px;
        left: 420px;
        top: 80px;
        rotate: -8deg;
      }
    }

    @media (max-width: 1700px) {
      flex-wrap: wrap;

      // img {
      //   &:nth-child(3),
      //   &:nth-child(4) {
      //     left: auto;
      //     top: auto;
      //   }
      // }
    }
  }
}
